{% extends 'base.html' %}

{% block content %}
  <div class="card mb-3 mt-4">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://static.wikia.nocookie.net/shrek/images/5/5a/Shrek_superslam.png/revision/latest/scale-to-width-down/381?cb=20100927010617" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="d-flex">
            <p class="me-3"> {{ product.views }} ნახვა </p>
            <p> {{ product.create_date }} </p>
          </div>
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}